@page
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="alert alert-info" role="alert">
        Пожалуйста, <a asp-area="Identity" asp-page="Register">зарегистрируйтесь</a> или <a asp-area="Identity" asp-page="Login">войдите</a>, чтобы начать покупки.
    </div>
}

<div class="row">
    <div class="col-md-8">
        <h2>Добро пожаловать!</h2>
    </div>
</div>
